.message-input {
    border-radius: 5px;
}
.patient {
    background-color: rgb(210, 242, 255);
}
.bg-blue {
    background-color: rgb(125, 213, 248);
}
.bg-darkblue {
    background-color: rgb(78, 162, 201);
}
.bg-aside {
    background-color: rgb(56, 114, 141);
}
.bg-items {
    background-color: rgb(68, 140, 173);
}
.bg-items:hover {
    background-color: rgb(76, 157, 194);
}
.aside-scroll {
    height:100vh;
    position: fixed;
    overflow-y: auto;
    width:15%;
    z-index: 1000;
}
.options {
    position:relative;
    top:80px;
}
body {
    background-color: rgb(75, 171, 235);
}
.footer {
    z-index: 999;
}
.input-group {
    width:80%;
}
.chat-box {
    height: 100vh;
    padding:2%;
}
.container-chat {
    padding-left:20%;
    padding-top:5%;
    padding-bottom:5%;
    padding-right:5%;
}
.chat-text {
    padding:1%;
    width:40%;
    margin-bottom:6%;
    overflow-y: scroll;
}
.other {
    background-color: rgb(167, 225, 248);
}
.card-body {
    overflow-y: auto;
}
.webcam {
    height:30vh;
}
.avatar {
    width: 50%;
    height: 100%;
}
#gifContainer{
    min-height: 00px;
    border: 1px solid black;
    text-align:center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Para asegurarse de que no se extienda más allá del contenedor padre */
}

.input_video {
    max-width: 100%; /* El video no se extenderá más allá del contenedor */
    max-height: 100vh; /* Limitar la altura del video a la altura de la ventana */
    width: auto;
    height: auto;
    border: 2px solid #ccc; /* Opcional: para darle un borde al video */
}